<div class="armor-card item-card">
    <div class="item-edit item" data-id="{{_id}}">
        <img src={{img}} title="{{data.fightingStyle}} armor (Tier {{data.tier}})" width="60" height="60">
    </div>        
</div>