<div class="armor-card item-card item" data-id="{{_id}}">
    <div class="item-edit">
        <img src={{img}} title="{{data.fightingStyle}} armor (Tier {{data.tier}})" width="60" height="60">
    </div>        
</div>