<div class="weapon-card item" data-item-id="{{_id}}">
    <div class="item-edit">
        <img src={{img}} title="{{data.fightingStyle}} weapon (Tier {{data.tier}})" width="60" height="60">
    </div>        
</div>