<div class="tab actor_sheet_tab actor_sheet_tab_equip" data-group="primary" data-tab="actor_sheet_tab_equip">
    <div class="sheet-equip">

        <fieldset class="repeating_items">
            <input type="hidden" name="attr_item_lvl"/>
            <input type="hidden" name="attr_item_lvl"/>



            
            <div class='3colrow'>
                <div class='col' style="width:120px">
                    <select name="attr_item_category" class="item_category">
                        <option value="item_category_equip" selected>Equipment</option>
                        <option value="item_category_resource">Resources & Crafting</option>
                        <option value="item_category_consumable">Consumables</option>
                        <option value="item_category_other">Quest & Other</option>
                    </select>
                </div>
            
                <div class='col' style="width:100px">
                    <input type="checkbox" name="attr_item_category" class="sheet-hidden" value="item_category_equip" />
                    <input type="checkbox" name="attr_item_category" class="sheet-hidden" value="item_category_resource" />
                    <input type="checkbox" name="attr_item_category" class="sheet-hidden" value="item_category_consumable" />
                    <input type="checkbox" name="attr_item_category" class="sheet-hidden" value="item_category_other" />

                    <div class="item_category_equip">
                        <select name="attr_equip_subcategory" class="item_category_equip">
                            <option value="equip_subcategory_weapon" selected>Weapon</option>
                            <option value="equip_subcategory_shield">Shield</option>
                            <option value="equip_subcategory_armor">Armor</option>
                            <option value="equip_subcategory_helm">Helm</option>
                            <option value="equip_subcategory_cape">Cape</option>
                            <option value="equip_subcategory_gloves">Gloves</option>
                            <option value="equip_subcategory_boots">Boots</option>
                            <option value="equip_subcategory_ring">Ring</option>
                            <option value="equip_subcategory_charm">Charm</option>
                            <option value="equip_subcategory_amulet">Amulet</option>
                        </select>    
                    </div>
                    
                    <div class="item_category_resource">
                        <select name="attr_resource_subcategory" class="item_category_resource">
                            <option value="resource_subcategory_metal" selected>Metal</option>
                            <option value="resource_subcategory_leather">Leather</option>
                            <option value="resource_subcategory_wood">Wood</option>
                            <option value="resource_subcategory_fiber">Fiber</option>
                            <option value="resource_subcategory_gem">Gem</option>
                            <option value="resource_subcategory_plant">Plant</option>
                            <option value="resource_subcategory_reding">Red Ingredient</option>
                            <option value="resource_subcategory_greening">Green Ingredient</option>
                            <option value="resource_subcategory_blueing">Blue Ingredient</option>
                            <option value="resource_subcategory_acid">Acid</option>
                            <option value="resource_subcategory_fertilizer">Fertilizer</option>
                            <option value="resource_subcategory_thickener">Thickener</option>
                            <option value="resource_subcategory_weirdrock">Weird Rock</option>
                        </select>  
                    </div>
            
                    <div class="item_category_consumable">
                        <select name="attr_consumable_subcategory" class="item_category_consumable">
                            <option value="consumable_subcategory_healthpot" selected>Health Potion</option>
                            <option value="consumable_subcategory_staminapot">Stamina Potion</option>
                            <option value="consumable_subcategory_manapot">Mana Potion</option>
                            <option value="consumable_subcategory_enhancer">Enhancer</option>
                            <option value="consumable_subcategory_oil">Oil</option>
                            <option value="consumable_subcategory_bomb">Bomb</option>
                            <option value="consumable_subcategory_morpher">Morpher</option>
                        </select>  
                    </div>
            
                    <div class="item_category_other">OTHER</div>
                </div>
            
                <div class='col'>
                    <table>
                        <tr>
                            <th style="width: 100px; text-align: center;"></th>
                            <th style="width: 50px; text-align: center;">Tier</th>
                            <th style="width: 50px; text-align: center;">Level</th>
                            <th style="width: 50px; text-align: center;">Exp</th>
                            <th style="width: 50px; text-align: center;">Mel. Off.</th>
                            <th style="width: 50px; text-align: center;">Rng. Off.</th>
                            <th style="width: 50px; text-align: center;">Mag. Off.</th>
                            <th style="width: 50px; text-align: center;">Mel. Off.</th>
                            <th style="width: 50px; text-align: center;">Rng. Off.</th>
                            <th style="width: 50px; text-align: center;">Mag. Off.</th>
                        </tr>
        
                    </table>
                </div>
            </div>

        </fieldset>

    </div>
</div>