<div class="tab actor_sheet_tab_main" data-group="primary" data-tab="actor_sheet_tab_main">
    <div class="tab_grid">

    {{> "systems/intersection/templates/table_actor_equip.hbs"}}

    {{> "systems/intersection/templates/table_actor_skills.hbs"}}
    </div>
</div>