<div class="weapon-card item-card">
    <div class="item-edit item" data-id="{{_id}}">
        <img src={{img}} title="{{data.fightingStyle}} weapon (Tier {{data.tier}})" width="60" height="60">        
    </div>
</div> 
