<form class="{{cssClass}}" autocomplete="off">
    <div class="sheet-content">

        <div class="name_table">
            <div class="col_table">
                <h1 style="text-align: center;"><div>{{data.name}}</div></h1>
                <input class="cell_data" type="text" data-dtype="text" name="data.class"  value="{{data.data.class}}"/>
                <input class="cell_data" type="text" data-dtype="text" name="data.title"  value="{{data.data.title}}"/>
            </div>
        </div>

        
        {{> "systems/intersection/templates/table_actor_points.hbs"}}

        <nav class="tab_switcher tabs" data-group="primary">
            <a class="tab_switcher__item" data-tab="actor_sheet_tab_main">Main</a>
            <a class="tab_switcher__item" data-tab="actor_sheet_tab_combat">Combat</a>
            <a class="tab_switcher__item" data-tab="actor_sheet_tab_melee">Melee</a>
            <a class="tab_switcher__item" data-tab="actor_sheet_tab_ranged">Ranged</a>
            <a class="tab_switcher__item" data-tab="actor_sheet_tab_magic">Magic</a>
            <a class="tab_switcher__item" data-tab="actor_sheet_tab_inventory">Inventory</a>
            <a class="tab_switcher__item" data-tab="actor_sheet_tab_spells">Spells</a>
            <a class="tab_switcher__item" data-tab="actor_sheet_tab_notes">Notes and Bio</a>

        </nav>
        <div class="actor_sheet_tab"> 
            {{> "systems/intersection/templates/tabs/actor_sheet_tab_main.hbs"}}
            {{> "systems/intersection/templates/tabs/actor_sheet_tab_combat.hbs"}}
            {{> "systems/intersection/templates/tabs/actor_sheet_tab_melee.hbs"}}
            {{> "systems/intersection/templates/tabs/actor_sheet_tab_ranged.hbs"}}
            {{> "systems/intersection/templates/tabs/actor_sheet_tab_magic.hbs"}}
            {{> "systems/intersection/templates/tabs/actor_sheet_tab_inventory.hbs"}}
        </div>
</form>