<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div>
        <table>
            <tr>
                <th>Equipment Slot</th>
                <th>Fighting Style</th>
                <th>Tier</th>
            </tr>
            <tr>
                <td>
                    <select name="data.slot">
                    {{#select data.slot}}
                    {{#each config.equipmentSlot as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.fightingStyle">
                    {{#select data.fightingStyle}}
                    {{#each config.fightingStyle as |name type|}}
                    <option value="{{type}}">{{name}}</option>
                    {{/each}}
                    {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.tier" type="text" value="{{data.tier}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
        <textarea name="data.description">{{data.description}}</textarea>
    </div>
</form>
